
.title {
    
  font: 30px sans-serif;
  display: block;
  margin: 30px;
}   

#infoArea label {

    margin: 10px;
    display: block;
}

.bar {
  fill: steelblue;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}


